pytesseract
pillow
pdfplumber
pymupdf
pdf2image
opencv-python
numpy
google-generativeai
sentence-transformers
faiss-cpu
langchain-community
langchain-core
selenium
webdriver-manager
openai
python-dotenv
asyncpg